@model IEnumerable<Models.Traffic>

@{
	string title = "Traffic List";
	ViewBag.Title = title;
}

<h2>@(title)</h2>

<div class="row">
	<div class="col-xs-12">
		@Html.ActionLink("Create New", MVC.Traffics.Create())
		|
		@Html.ActionLink("Home", MVC.Home.Index())
	</div>
</div>

<div class="row">
	<div class="col-xs-12 table-responsive">
		<table class="table table-bordered table-condensed table-striped table-hover" style="background-color:#acacac;">
			<tr>
				<th></th>
				<th></th>
				<th>
					@Html.DisplayNameFor(model => model.User.Username)
				</th>
				<th>
					@Html.DisplayNameFor(model => model.Date)
				</th>
				<th>
					@Html.DisplayNameFor(model => model.StartTime)
				</th>
				<th>
					@Html.DisplayNameFor(model => model.EndTime)
				</th>
				<th>
					@Html.DisplayNameFor(model => model.Duration)
				</th>

			</tr>

			@{
				int rowIndex = 0;
				foreach (var item in Model)
				{
					rowIndex++;

					<tr>
						<td>@rowIndex</td>
						<td>
							@Html.ActionLink("Details", MVC.Traffics.Details(item.Id))
							|
							@Html.ActionLink("Edit", MVC.Traffics.Edit(item.Id))
							|
							@Html.ActionLink("Delete", MVC.Traffics.Delete(item.Id))
						</td>
						<td>
							@Html.DisplayFor(modelItem => item.User.Username)
						</td>
						<td>
							@Html.DisplayFor(modelItem => item.Date)
						</td>
						<td>
							@Html.DisplayFor(modelItem => item.StartTime)
						</td>
						<td>
							@Html.DisplayFor(modelItem => item.EndTime)
						</td>
						<td>
							@Html.DisplayFor(modelItem => item.Duration)
						</td>

					</tr>
					}
				}
			</table>
		</div>
	</div>